DB_SERVER=your_server_ip
DB_PORT=1433
DB_DATABASE=Corx
DB_USERNAME=sa
DB_PASSWORD=your_password

BATCH_SIZE=200
POLL_INTERVAL_MS=1000
NUM_WORKERS=4

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

API_HOST=0.0.0.0
API_PORT=8000

TABLE_SOURCE=MQTT_OPC_UA_Data
TABLE_VARIABLES=Variables
TABLE_EXECUTIONS=Executions
TABLE_FAILED_EXECUTIONS=FailedExecutions
TABLE_PROCESSING_STATE=ProcessingState
